.sider-container {
  height: 100%;
  padding: 16px;
  .logo-container {
    display: flex;
    img {
      width: 100%;
    }
  }
  .icon-menu {
    margin-right: 16px;
  }
  .menu-container {
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .ant-menu-submenu-expand-icon,
  .ant-menu-submenu-arrow {
    color: white;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #2a2d45;
    color: white;
  }
  .menu-item-text {
    color: white;
    opacity: 0.5;
    &.text-active {
      opacity: 1;
    }
  }
  .footer-container {
    height: 48px;
    padding-left: 32px;
    display: flex;
    cursor: pointer;
    .footer-text {
      color: white;
      font-size: 16px;
      margin-left: 13px;
      color: white;
      font-size: 16px;
      margin-left: 13px;
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      line-height: 48px;
    }
  }
  .ant-menu-inline {
    height: calc(100% - 174px);
    width: calc(100% + 1px);
  }
  .ant-menu {
    background: transparent;
  }
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: none;
  }
}
.ant-dropdown-menu {
  margin: 0 20px;
}
.reg-text-pass {
  color: red;
  opacity: 0.5;
  padding-left: 5px;
}
