.upper-case {
  text-transform: uppercase;
}
.map-container {
  height: calc(100vh - 64px);
  width: 100%;
  background: #f5f5f5;
}
.device-list {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  background: white;
  height: 100%;
  padding: 16px 0;
  overflow: auto;
  .device-item {
    display: flex;
    justify-content: space-between;
    background: #e6f7ff;
    padding: 4px 10px;
  }
}
.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-device-modal {
  .ant-modal-content .ant-modal-body {
    overflow: auto;
    max-height: 640px;
    padding: 24px 24px 0px 24px;
  }
}
.device-footer-modal {
  margin: 0px -24px -20px -24px;
  position: sticky;
  bottom: 0px;
  background: white;
  border-top: 1px solid #f0f0f0;
}
.view-device {
  .field-info {
    margin-bottom: 8px;
    padding: 0 !important;
  }
  .title-field {
    font-size: 12px;
    line-height: 14px;
    color: #606266;
    margin: 0;
    &.title-modal-text {
      margin-left: 20px;
    }
  }
  .sub-field {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
  }
  .table-container {
    max-height: 350px;
    // overflow: auto;
  }
  .device-info {
    border: solid 1px #e1edfa;
    border-radius: 8px;
    padding: 8px;
  }
}
.title-modal-custom {
  display: flex;
  align-items: center;
}
