.upper-case {
  text-transform: uppercase;
}
.map-container {
  height: calc(100vh - 64px);
  width: 100%;
  background: #f5f5f5;
}
.device-list {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  background: white;
  height: 100%;
  padding: 16px 0;
  overflow: auto;
  .device-item {
    display: flex;
    justify-content: space-between;
    background: #e6f7ff;
    padding: 4px 10px;
  }
}
.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
